@import '~bootstrap/scss/bootstrap';

.cat-date {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // border: 5px solid #0ff;
}

.title {
  text-align: center;
  // border: 5px solid #0ff;
}

.description {
  text-align: center;
  // border: 5px solid #0ff;
}

.content-width {
  width: 65%;
}

.header-height {
  height: 25%;
}

.content-height {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.full-width {
  width: 100%;
}

.right-col {
  width: 25%;
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.rss-width {
  width: 10%;
}

.tab-grid {
  display: flex;
  flex-direction: column;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 69px;
  font-family: sans-serif monospace;
}

.blk-border {
  border: 5px solid #000;
}

.blue-border {
  border: 5px solid #00f;
}

.purp-border {
  border: 5px solid #f0f;
}

.tab {
  border: 5px solid #0f0;
  width: 33%;
  height: 10rem;
}

.red-border {
  border: 5px solid #f00;
}

.yellow-border {
  border: 5px solid #cc0;
}
